<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header div1">
                <img class="card-img-top mx-auto m-s" src="/img/Walmart_logo.png" alt="Logo" style="width: 300px; heigth: 300px;display:block;">
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>
            <div class="card-body text-center div2">
                <p>Productos</p>
                <a href="/listS" class="btn btn-primary">Ver ofertas</a>
            </div>
        </div>
    </div>
</main>